<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="" />
    <link rel="stylesheet" href="" />
    <title>Portafolio</title>
  </head>
  <body>
    <header>
      <img src="../img/logo.svg" alt="logo" />
      <nav class="nav-menu">
        <ul class="menu-list">
          <li class="list-item">Inicio</li>
          <li class="list-item">Sobre mi</li>
          <li class="list-item">Proyectos</li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="sobre-mi">
        <h1>Soy<span id="text">Carlos Talavera</span></h1>
        <p>Ingeniero en sistemas en busqueda de mejorar y seguir aprendiendo</p>
        <div class="contacto">

        </div>
        <img src="" alt="perfil">
      </section>
      <section class="proyectos">
        <article class="proyecto-card">
          <div class="card-img"></div>
          <div class="card-info"></div>
          <div class="card-footer"></div>
        </article>
      </section>
    </main>
    <footer>

    </footer>
  </body>
  <script src="../js/index.js"></script>
</html>
