@import url("https://fonts.googleapis.com/css2?family=Jersey+25&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #fff;
  /*font-family: "Jersey 25", sans-serif;*/
  font-family: "Inter", sans-serif;
}
